PyJWT==2.13.0
PyYAML==6.0.3
Pygments==2.20.0
charset-normalizer==3.4.9
cuda-core==1.0.1
docstring_parser==0.18.0
fastapi-cli==0.0.32
googleapis-common-protos==1.75.1
humming-kernels==0.1.10
mdurl==0.1.2
mistral_common==1.11.7
ml_dtypes==0.5.4
pip-chill==1.0.5
pydantic_core==2.46.4
pynvvideocodec==2.0.4
torch_c_dlpack_ext==0.1.5
vllm==0.26.0
